html {
    display: flex;
    justify-content: center;
}

table {
    background-color: lightcoral;
}

button {
    width: 100%;
    height: 30px;
    color: aquamarine;
    background-color: black;
}

text {
    background-color: aqua;
    color: aqua;
}