html {
    display: flex;
    justify-content: center;
    align-items: center;
}


table {
    background-color: rgb(65, 174, 171);
    padding: 3%;
    border-radius:3%;
    border: 5px solid black;
}

button {
    color: aquamarine;
    background-color: rgb(39, 38, 38);
    border-radius: 40%;
    width: 70px;
    height: 70px;
    color:white;
    font-size: 20px;
}

.Display {
    width: 98%;
    height: 60px;
    background-color: rgb(217, 215, 215);
    border-radius: 15px;
    text-align: right;
    font-size: 27px;
    margin-bottom: 10px;
}

button:hover {
    background-color: rgb(115, 165, 161);
}

body{
    background-image: url("image/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5%;
    margin-top: 5%;
}